@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  /* background: linear-gradient(90deg, #2ecc71 60%, #27ae60 40.1%); */
}

.container form{
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #27ae60;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover{
  background-color: blue;
  color: white;

}
body{   
  margin:0 auto;}
      #navbar{
          flex-wrap: wrap;
          display: flex;
          justify-content: space-around;
          background-color: black;
          color:azure;
          padding: 10px 10px 40px 10px;
          align-items: center;
         
      }
      #navbartwo{
          display: flex;
          justify-content: space-around;
          background-color: black;
          color:azure;
          padding: 10px 200px 10px 200px;
          align-items: center;
         justify-content: space-between; 
      }

      #carticon{
        width:  20px;
        height: 10px;
    }
    #logo{
        font-size: 40px;
        width:  345px;
        height: 37px;
    }





    .footer{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: auto;
   background-color: black;
   color: whitesmoke;
   justify-content:space-around;
  align-items: center;
  padding: 10px 30px 10px 30px ;
  margin: auto;
  flex-wrap: wrap;
      display: flex;
      justify-content: space-around;
      /* position: fixed;
      bottom: 0px; */
  }
  .footerone{
      margin:10px;
  text-align: left;
  overflow:hidden;
 height:250px;
 width:300px;
      font-size: 15px;
      line-height: 150%;
  }
  .footertwo{
      margin:10px;
  text-align: left;
  overflow:hidden;
 height:250px;
 width:300px;
      font-size: 15px;
      line-height: 150%;
  }
  .footerthree{
      margin:10px;
  text-align: left;
  overflow:hidden;
 height:250px;
 width:300px;
      font-size: 15px;
      line-height: 150%;
  }
  .nmfooter{
      color: whitesmoke;
      background-color: black;
      width: 200px;
      height:30px;
      border: 1px solid whitesmoke;
      margin-bottom: 10px;

  }
  .mobfooter{
      color: whitesmoke;
      background-color: black;
      width: 200px;
      height:30px;
      border: 1px solid whitesmoke;
      margin-bottom: 10px;
  }
  .subfooter{
      color: whitesmoke;
      background-color: black;
      width: 200px;
      height:30px;
      border: 1px solid whitesmoke;
      margin-bottom: 10px;

  }
